In [ ]:
%load_ext autoreload
%autoreload 2
%cd ..

In [1]:
import json
import pandas as pd
import toolkit as ftk
tickers = set()
indices = json.load(open('streamlit/data/indices.json'))
df = pd.DataFrame(indices)
df['ticker'].apply(lambda x: tickers.add(x))
df['currency'].apply(lambda x: tickers.add(f'{x}=X'))
px = ftk.get_yahoo_bulk(tickers)

[*********************100%%**********************]  23 of 23 completed

In [64]:
px

,000001.SS,000300.SS,399001.SZ,AUD=X,CNY=X,HKD=X,HSCEI-TRI-NET-HKD.HK,INR=X,JPY=X,KRW=X,...,^AXJO,^BSESN,^HSI,^KQ11,^KS11,^N225,^NSEI,^STI,^TWII,^VNINDEX.VN
Date,,,,,,,,,,,,,,,,,,,,,
1965-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1257.719971,NaN,NaN,NaN,NaN
1965-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1263.989990,NaN,NaN,NaN,NaN
1965-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1274.270020,NaN,NaN,NaN,NaN
1965-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1286.430054,NaN,NaN,NaN,NaN
1965-01-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1288.540039,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-30,3021.552979,3583.770020,9927.990234,1.577560,7.1587,7.82157,NaN,83.413399,149.733002,1355.219971,...,6772.899902,64112.648438,17406.359375,757.119995,2310.550049,30696.960938,19140.900391,3064.290039,16149.679688,NaN
2023-10-31,3018.770996,3572.510010,9863.799805,1.569612,7.3121,7.82070,NaN,83.296501,149.110992,1348.069946,...,6780.700195,63874.929688,17112.480469,736.099976,2277.989990,30858.849609,19079.599609,3067.739990,16001.269531,NaN
2023-11-01,3023.076904,3571.030029,9826.730469,1.577300,7.3155,7.82437,NaN,83.277199,NaN,1350.160034,...,6838.299805,63591.328125,17101.779297,739.229980,2301.560059,31601.650391,18989.150391,3076.770020,16038.559570,NaN
2023-11-02,3009.406006,3554.189941,9734.769531,1.557002,7.3159,7.82219,NaN,85.194000,150.574997,1347.839966,...,6899.700195,64080.898438,17230.589844,772.840027,2343.120117,31949.890625,19133.250000,3082.489990,16396.949219,NaN
2023-11-03,3032.572021,3585.006104,9856.159180,1.554410,7.3131,7.82450,13232.530273,83.214996,150.322998,1321.160034,...,6977.100098,NaN,17580.140625,781.289978,2368.020020,NaN,NaN,3145.929932,16506.839844,1076.890015

In [65]:
px
#rtn = px.resample("M").last().pct_change().dropna().to_period("M")
#rtn
#px.apply(lambda x: x.last_valid_index())

last = pd.DataFrame({
    'As of': px.aggregate(pd.Series.last_valid_index),
    'Value': px.stack().groupby(level=1).last()
})
last

                          As of         Value
000001.SS            2023-11-03   3032.572021
000300.SS            2023-11-03   3585.006104
399001.SZ            2023-11-03   9856.159180
AUD=X                2023-11-03      1.554410
CNY=X                2023-11-03      7.313100
HKD=X                2023-11-03      7.824500
HSCEI-TRI-NET-HKD.HK 2023-11-03  13232.530273
INR=X                2023-11-03     83.214996
JPY=X                2023-11-03    150.322998
KRW=X                2023-11-03   1321.160034
SGD=X                2023-11-03      1.362300
TWD=X                2023-11-03     32.238998
VND=X                2023-11-03  24570.000000
^AXJO                2023-11-03   6977.100098
^BSESN               2023-11-02  64080.898438
^HSI                 2023-11-03  17580.140625
^KQ11                2023-11-03    781.289978
^KS11                2023-11-03   2368.020020
^N225                2023-11-02  31949.890625
^NSEI                2023-11-02  19133.250000
^STI                 2023-11-03   3145.929932
^TWII                2023-11-03  16506.839844
^VNINDEX.VN          2023-11-03   1076.890015

In [44]:
px.tail()

,000001.SS,000300.SS,399001.SZ,AUD=X,CNY=X,HKD=X,HSCEI-TRI-NET-HKD.HK,INR=X,JPY=X,KRW=X,...,^AXJO,^BSESN,^HSI,^KQ11,^KS11,^N225,^NSEI,^STI,^TWII,^VNINDEX.VN
Date,,,,,,,,,,,,,,,,,,,,,
2023-10-30,3021.552979,3583.770020,9927.990234,1.577560,7.1587,7.82157,NaN,83.413399,149.733002,1355.219971,...,6772.899902,64112.648438,17406.359375,757.119995,2310.550049,30696.960938,19140.900391,3064.290039,16149.679688,NaN
2023-10-31,3018.770996,3572.510010,9863.799805,1.569612,7.3121,7.82070,NaN,83.296501,149.110992,1348.069946,...,6780.700195,63874.929688,17112.480469,736.099976,2277.989990,30858.849609,19079.599609,3067.739990,16001.269531,NaN
2023-11-01,3023.076904,3571.030029,9826.730469,1.577300,7.3155,7.82437,NaN,83.277199,NaN,1350.160034,...,6838.299805,63591.328125,17101.779297,739.229980,2301.560059,31601.650391,18989.150391,3076.770020,16038.559570,NaN
2023-11-02,3009.406006,3554.189941,9734.769531,1.557002,7.3159,7.82219,NaN,85.194000,150.574997,1347.839966,...,6899.700195,64080.898438,17230.589844,772.840027,2343.120117,31949.890625,19133.250000,3082.489990,16396.949219,NaN
2023-11-03,3032.572021,3585.006104,9856.159180,1.554410,7.3131,7.82450,13232.530273,83.214996,150.322998,1321.160034,...,6977.100098,NaN,17580.140625,781.289978,2368.020020,NaN,NaN,3145.929932,16506.839844,1076.890015